## Copyright 2018 Afshin Sabahi. All rights reserved.
## Use of this source code is governed by a BSD-style
## license that can be found in the LICENSE file.

[submodule "third_party/spdk"]
	path = third_party/spdk
	url = git@github.com:spdk/spdk.git
[submodule "fs/kvfs_leveldb/third_party/leveldb"]
	path = fs/kvfs_leveldb/third_party/leveldb
	url = https://github.com/google/leveldb.git
